<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/food.css">
    <title>Food</title>
</head>
<body>
    <section class="navBar">
        <a class="home" href="/home">Home</a>
        <a class="welcome" href="/main">Welcome!</a>
        <% if(user) { %>
            <a class="logout" href="/">Log-out</a>
        <% } else {%>       
            <a class="signUp" href="/signUp">Sign-Up</a>
            <a class="login" href="/login">Log-In</a>
        <% } %>
    </section>
    

        <section class="resturants">
            <h1 class="heading">Resturants</h1>
            <div class="row">
                <div class="column">
                    <div class="card"><a href="http://www.cathedralstation.com/">Cathedral Station</a></div>
                </div>
                <div class="column">
                    <div class="card"><a href="http://thebreakfastclubboston.com">The Breakfast Club</a></div>
                </div>
                <div class="column">
                    <div class="card"><a href="https://www.roxysgrilledcheese.com/">Roxy's Grilled Cheese</a></div>
                </div>
                <div class="column">
                    <div class="card"><a href="https://thefriendlytoast.com/">The Friendly Toast</a></div>
                </div>
                <% for(i=0; i< messages.length;i++) { %>
                    <div class="column">
                        <div class="card"><a href="<%= messages[i].link %>"><%= messages[i].name %></a></div>
                    </div>
                <% }  %>
            </div></section>
</body>
</html>