<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/help.css">
    <title>HELP</title>
</head>
<body>
    <section class="navBar">
        <a class="home" href="./home">Home</a>
        <a class="welcome" href="./main">Welcome!</a>
        <a class="signUp" href="./signUp">Sign-Up</a>
        <a class="login" href="./login">Log-In</a>
        <a class="logout" href="/">Log-out</a>
    </section>

<button class="talkHelp"><a href="tel:8002738255">Suicide Hotline</a></button><br>
<button class="immediate"><a href="tel:911">911</a></button>

    
</body>
</html>