<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/welcome.css">
    
    
    <title>The Pink&Blue Book</title>
</head>
<body>
     <section class="navBar">
        <a class="home" href="/home">Home</a>
        <a class="welcome" href="./login">Welcome!</a>
        <a class="signUp" href="/signup">Sign-Up</a>
        <a class="login" href="/login">Log-In</a>
        <a class="logout" href="/">Log-out</a>

        <div class="container">

            <div class="jumbotron text-center">
                <h1>The Pink&Blue Book</h1>
        
               <section class="logBox">
                <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Log-in</a><br>
                <a href="/signUp" class="btn btn-default"><span class="fa fa-user"></span>Sign-up</a>
                </section>
                
        
            </div>
        
        </div>
  
    
   

    
</body>
</html>