<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
    <title>The Pink&Blue Book</title>
</head>
<body>
    <section class="navBar">
        <a class="home" href="/home">Home</a>
        <a class="welcome" href="/main">Welcome!</a>
        <% if(isAdmin) { %>
            <a class="admin" href="/admin">Admin</a>
            <a class="logout" href="/logout">Log-out</a>
        <% } else if(user) {%>       
            <a class="logout" href="/">Log-out</a>
        <% } else {%>       
            <a class="signUp" href="/signUp">Sign-Up</a>
            <a class="login" href="/login">Log-In</a>
        <% } %>
    </section>
    <section class="container">
    <section class="header">Welcome to The Pink&Blue Book</section>
    <section class="food"><a href="/food">Food</a></section>
    <section class="fun"><a href="/fun">Fun</a></section>
    <section class="needs"><a href="/needs">Needs</a></section>
    <section class="shelter"><a href="/shelter">Shelter</a></section>
    <section class="resources"><a href="/resources">Resources</a></section>
    <section class="forum"><a href="/messages">Message Board</a> </section>
    <section class="help"><a href="/help"> Help</a></section>
    </section>
    


          
    
</body>
<!-- <script src="admin.js"> -->
</script>
</html>