<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/needs.css">
    <title>Needs</title>
</head>
<body>
    <section class="navBar">
        <a class="home" href="/home">Home</a>
        <a class="welcome" href="/main">Welcome!</a>
        <% if(user) { %>
            <a class="logout" href="/">Log-out</a>
        <% } else {%>       
            <a class="signUp" href="/signUp">Sign-Up</a>
            <a class="login" href="/login">Log-In</a>
        <% } %>
    </section>

        <section class="resturants">
            <h1 class="heading">Needs</h1>
            <div class="row">
                <div class="column">
                    <div class="card"><a href="https://stores.savers.com/ma/westroxbury/savers-thrift-store-1065.html">Savers</a></div>
                </div>
                <div class="column">
                    <div class="card"><a href="http://target.com">Target</a></div>
                </div>
                <div class="column">
                    <div class="card"><a href="https://finders-keepers-consigment.business.site/?utm_source=gmb&utm_medium=referral">Finders-Keepers-Consignment</a></div>
                </div>
                <div class="column">
                    <div class="card"><a href="https://raspberryberet.us/">Raspberry Beret</a></div>
                </div>
            </div></section>
    
</body>
</html>