<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/shelter.css">
    
    
    <title>Shelter</title>
</head>
<body>
    <section class="navBar">
        <a class="home" href="/home">Home</a>
        <a class="welcome" href="./main">Welcome!</a>
        <a class="signUp" href="/signup">Sign-Up</a>
        <a class="login" href="/login">Log-In</a>
        <a class="logout" href="/">Log-out</a>

        <section class="resturants">
            <h1 class="heading">Shelter</h1>
            <div class="row">
                <div class="column">
                    <div class="card"><a href="https://jri.org/services/health-and-housing/housing/youth-harbors">Youth Harbors</a></div>
                </div>
                <div class="column">
                    <div class="card"><a href="https://jri.org/services/health-and-housing/housing/focus">FOCUS-(families overcoming challenges utilizing support)</a></div>
                </div>
                <div class="column">
                    <div class="card"><a href="http://www.y2yharvardsquare.org/">Y2Y</a></div>
                </div>
                <div class="column">
                    <div class="card"><a href="http://www.bridgeotw.org/">Bridge Over troubled Waters</a></div>
                </div>
            </div></section>
    
</body>
</html>