* {
    box-sizing: border-box;
}
body {
    background-image: url('../img/transpridepic.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.column {
    float: left;
    width: 50%;
    padding: 0 10px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    margin-bottom: 18px;
    text-align: center;
    background-color: white;
}
.heading {
    font-family: 'Dancing Script', cursive;
    font-size: x-large;
    text-align: center;
}
