body{
    display: flex;
    flex-direction: column;
    background-image: url(/img/beauty.png);
    background-size: cover;
}
.container{
    text-align: center;
    color: darkblue;
}
h1{
    text-align: center;
    font-size: 45px;
    font-family: 'Dancing Script', cursive;
}
.navBar{
    margin-right: 600px;
}
a{
    text-decoration: none;
    color: white;
    
}